alabaster==0.7.12
attrs==20.2.0
autopep8==1.5.4
Babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
docutils==0.16
idna==2.10
imagesize==1.2.0
iniconfig==1.1.1
Jinja2==3.0.0a1
MarkupSafe==2.0.0a1
mistune==0.8.4
packaging==20.4
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
Pygments==2.7.1
pyparsing==2.4.7
pytest==6.1.1
pytz==2020.1
requests==2.24.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.2.1
sphinx-rtd-theme==0.5.0
-e git+https://github.com/jackscodemonkey/sphinx-sql.git@0ecc570d8215dbd931ca37b84ed4d27501932715#egg=sphinx_sql
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.1
urllib3==1.25.10
